[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "spacemacs_layers/julia/julia-layer"]
	path = spacemacs_layers/julia/julia-layer
	url = https://github.com/mgxm/julia-layer
[submodule "spacemacs_layers/juliai"]
	path = spacemacs_layers/juliai
	url = https://github.com/mgxm/julia-layer
[submodule "spacemacs_layers/julia"]
	path = spacemacs_layers/julia
	url = https://github.com/mgxm/julia-layer
[submodule "spacemacs_layers/jupyter"]
	path = spacemacs_layers/jupyter
	url = https://github.com/sjkuntz/spacemacs-jupyter
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-one"]
	path = vim/bundle/vim-one
	url = https://github.com/rakr/vim-one
